<!-- Header -->
<ion-header>
  <ion-toolbar>
    <!-- Back button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title class="ion-no-padding">
      {{noteTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Button-list -->
<ion-content forceOverscroll="false">
  <ion-grid style="height: 100%; display: flex; flex-flow: column;">
    <ion-row style="flex-grow: 1;">
      <ion-col>
        <!-- Notes Textarea -->
        <ion-textarea rows="19">
          {{ noteText }}
        </ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>