<!-- Header -->
<ion-header>
  <ion-toolbar>
    <!-- Logo -->
    <ion-item lines="none">
      <ion-title class="ion-text-center ion-no-padding">
        Notes
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<!-- Button-list -->
<ion-content forceOverscroll="false">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-list>
          <!-- Different note-titles -->
          <ng-container>
            <ion-item button *ngFor="let title of noteTitles" (click)="SelectNote(title)">
              <ion-label class="ion-text-center" [id]="title">
                {{ title }}
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
        <!-- New note-button -->
        <ion-item button (click)="NewNote()" id="createNote">
          <ion-label class="ion-text-center">
            <ion-icon name="add-circle-outline">
            </ion-icon>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>